<!DOCTYPE html>
<html>
<head>
		<title>Cenz.me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{site.url}}/assets/bootstrap/dist/css/bootstrap.min.css">
  <script src="{{site.url}}/assets/bootstrap/dist/jquery.min.js"></script>
  <script src="{{site.url}}/assets/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="img/favicon.ico">

  <link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/default.css">
  <link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/index.css">
 </head>

 <body>
 	<h1>FLOYD MAYWEATHER VS CONNOR MCGREGOR CONFIRMED</h1>	
 	<p>After first being reported by Maxim, cenz.me can also confirm that it is indeed true that, Floyd Mayweather, will be fighting Connor mcgregor in a UFC match</p>
 	<p>That is all for today, folks</p>
</html>