<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{page.title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{site.url}}/assets/bootstrap/dist/css/bootstrap.min.css">
  <script src="{{site.url}}/assets/bootstrap/dist/jquery.min.js"></script>
  <script src="{{site.url}}/assets/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="{{site.url}}/assets/img/favicon.ico">

  <link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/default.css">
  <link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/default_post.css">
  <link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/post.css">
  <link rel='stylesheet' type="text/css" href="{{site.url}}/assets/css/syntax.css"
  <!-- Function to make the text after Cenz.me blink -->
  <script type="text/javascript">
    setInterval(function(){
      $('#blinker').each(function(){
        $(this).css('visibility' , $(this).css('visibility') === 'hidden' ? '' : 'hidden')
      });
    }, 600);
  </script>

  <!-- Function to make the page header typed out -->
  <script src="{{site.url}}/assets/js/typed.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function(){
      Typed.new('#postTitle', {
        strings: ["^500 cat {{page.title}}"],
        typeSpeed: 130,
        showCursor: false
      });
    });
  </script>

</head>

<body>
  <div class="container-fluid" id="main">
    <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6 col-md-offset-3 col-lg-offset-3 col-sm-offset-3">
      <h1 id="Title">><div id="postTitle"></div><div id="blinker">|</div></h1>


      <p style="padding-top: 15px;">{{page.date | date_to_string}}</p>
      {{page.category}}
      <hr class="style3" id="Header">
      <div class="row">
        <div class="col-xs-6 col-sm-12 col-md-8 col-xs-offset-3 col-md-offset-2 " id="Content">
          {{content}}
        </div>
      </div>
      <hr class="style3" id="Header">

      <a href="{{site.url}}/index.html" id="return">home/</a>&emsp;
      <a href="{{site.url}}/logs.html" id="return">logs/</a>
      <br>
      <a href="{{site.url}}/projects.html" id="return">projects/</a>&emsp;
      <a href="{{site.url}}/games.html" id="return">games/</a>&emsp;
    <a href="{{site.url}}/etc.html" id="return">etc/</a>
    </div>
  </div>

</body>
</html>
